.App {
  width: auto;
}

.intro {
  margin-top: 25px;
}

.intro-container {
  margin-top: 80px;
}

.portrait {
  width: 90%;
  border-radius: 50%;
}

.introText {
    margin-top: 20px;
    text-align: center;
}

.projects {
  margin-top: 8px;
}
.jobcard {
  margin-top: 20px;
}
.cap {
  text-decoration: none;
  color: unset;
}

.cap:hover {
  text-decoration: none;
  color: unset;
  box-shadow: 10px 5px 5px black;
}

.cap h5:hover {
  text-decoration: underline;
}

.links {
  margin-right: 10px;
}

.footerContainer {
  background-color: #e9ecef;
  margin-top: 20px;
}

.footer {
  text-align: center;
  padding: 1em;
}